@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+BE+VLG:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

nav{
    background-color: #3FA2F6;
    /* padding-top: 2%; */
    color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.nav-main{
    display: flex;
    margin: 0 5%;
    /* width: 100vw; */
    /* height: 70vh; */

    /* background-color: aquamarine; */
}
.nav-main img{
    /* background-color: black; */
    /* position: relative; */
    width: 320px;
    /* z-index: 10; */

}
.glass{
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 400px;
    right:20px;
    /* padding: 2em 2em 0 2em; */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 8em ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: rotate(34deg) scale(1);
    transition: transform 0.3s ease-in-out;
}
.nav-img:hover  .glass{
    transform: rotate(26deg) scale(1.1);
    /* transform: scale(1.02); */
}
.nav-content{
    margin-right: 3%;
    padding: 6% 6% 0 6%;
    /* background-color: aqua; */
    
}
.nav-content h1{
    font-family: "Ubuntu"
}
.nav-content p{
    font-family: "Ubuntu", cursive;
}
/* From https://css.glass */

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    /* background-color: red; */
}
.nav-links a{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 1em;
}

.nav-links a::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    position: absolute;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    border-radius: 0.1em;
}
.nav-links a:hover:after{
    transform: scaleX(1);
}
.header{
    padding-top: 0.5em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.header h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    /* background-color: aquamarine; */
    font-family: "Playwrite BE VLG"
}
.logo-img img{
    width: 50px;
    /* background-color: aqua; */
}

.patient-form{
    margin: 2em 0;
}
.patient-form h2{
    font-family: "Playwrite BE VLG";
    color: #3FA2F6;
    font-weight: bold;
    font-size: 2.1em;
    padding: 0.4em;
}
.patient-form form input,.patient-form form select,.patient-form form textarea{
    border: 1px solid #686D76;
}
main{
    height: 42em;
}
.log-sign{
    width: 40%;
    /* background-color: aquamarine; */
    /* justify-self: end; */
    display: flex;
    justify-content: end;
}
.log-sign a{
    color: black;
    font-family: "Ubuntu";
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.807);
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.652);
    margin: 0 0.4em;
    text-align: center;
    border-radius: 10px;
    width: 5em;
    padding: 0.5em;
}
.log-sign a:hover{
    border: 2px solid #3FA2F6;
    color: #3FA2F6;
}