@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.nav-section{
    padding: 5% 0;
    width: 100%;
    display: flex;
}
.nav-section div{
    margin: 2em;
}
.side-img{
    /* background-color: aqua; */
    display: grid;
    place-items: center;
}
.side-img img{
    width: 30em;
}
.nav-section h1{
    font-family: Dancing Script;
    font-size: 3.3em;
}
.registration{
    display: flex;

}
.registration-img{
    width: 45%;
    display: grid;
    place-items: center;
    padding: 2em;
}
.registration-form{
    width: 55%;
    background-color: #FF5E47;
    padding: 3em;
    border-radius: 30px 0 0 30px;
}
.registration-img>h2{
    font-size: 3em;
}
.registration-img>h2>span{
    color: #FF5E47;
}