nav{
    /* background-color: aqua; */
    padding-top: 2%;
}
.nav-main{
    display: flex;
    margin: 3% 10%;
}
.nav-main img{
    width: 130%;
}
.nav-content{
    margin-right: 25%;
}
.nav-links a{
    color: black;
    text-decoration: none;
    margin: 1em;
}