@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playwrite+BE+VLG:wght@100..400&display=swap');

nav{
    background-color: #3FA2F6;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    /* background-color: red; */
}
.nav-links a{
    position: relative;
    color: white;
    text-decoration: none;
    margin: 1em;
}

.nav-links a::after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    position: absolute;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    border-radius: 0.1em;
}
.nav-links a:hover:after{
    transform: scaleX(1);
}
.header{
    padding-top: 0.5em;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.header h3{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    /* background-color: aquamarine; */
    font-family: "Playwrite BE VLG"
}
.logo-img img{
    width: 50px;
    /* background-color: aqua; */
}
.log-sign{
    width: 40%;
    /* background-color: aquamarine; */
    /* justify-self: end; */
    display: flex;
    justify-content: end;
}
.log-sign a{
    color: black;
    font-family: "Ubuntu";
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.807);
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.652);
    margin: 0 0.4em;
    text-align: center;
    border-radius: 10px;
    width: 5em;
    padding: 0.5em;
}
.log-sign a:hover{
    border: 2px solid #3FA2F6;
    color: #3FA2F6;
}
.search{
    background-color: #3FA2F6;
    padding: 0.5em 5em;
}
form{
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3em;
    font-size: 1.1em;
}
.search input{
    border: none;
    outline: none;
    width: 100%;
    margin-left: 1em;

}
.search button{
    border: none;
    background-color: #3FA2F6;
    color: white;
    border-radius: 50px;
    padding: 0 0.6em;
    transition: all 0.2s ease-in-out;

}
.search button:hover{
    background-color: #000000;
}