.patients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.patient-card{
    width: 15em;
    /* background-color: aqua; */
    padding: 1em;
    border: 1px solid gray;
    border-radius: 0.4em;
    margin: 1em;
}
.side-img{
    display: flex;
    
}
.patient-card img{
    width: 100%;
    border-radius: 0.2em;
}
.img-patient p{
    text-align: center;
    margin: 0.2em;
}


